@model CMS_Blog.Models.Post

@{
    ViewBag.Title = "Beitrag bearbeiten";
    ViewData["Title"] = "Beitrag bearbeiten";
}


@Html.Partial("~/Views/Shared/_BackendNavBar.cshtml")
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/CKFinderScripts/ckfinder.js"></script>
<div class="container-fluid">
    <div class="row text-center">

        <!--<main role="main" class="d-flex justify-content-center text-center align-items-center m-auto">-->

        <main role="main" class="col-md-9 m-auto col-lg-10 px-4">

            <div class="card">



                <div class="card-body">
                    <div class="list-group">

                        @using (Html.BeginForm("Save", "Post", Model, FormMethod.Post))
    {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input class="form-control" type="text" name="title" value="@Model.Title" placeholder="Titel" />
                    </div>

                    <hr />

                    <div style="width: 200px; height: 200px; background-image:url(@Model.TitleImage)" id="urlImage" class="m-auto text-center">


                    </div>
                    <button type="button" class="btn btn-light" onclick="Open()" id="addImage"><span class="text-primary">+ Titelbild</span></button>


                    @*
    <div class="form-group">
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" id="url" placeholder="Image-URL" />
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" onclick="Open()">Titelbild</button>
            </div>
        </div>
    </div>*@

                    <hr />

                    <div class="text-center invisible">
                        <input class="form-control" type="text" id="url" name="titleImage" value="@Model.TitleImage" placeholder="Image-URL" />
                    </div>

                    <div class="form-group">
                        <textarea name="content" id="editor1">
                                    @Html.DisplayFor(modelItem => Model.Text)
                                </textarea>
                        <script>
                            //ClassicEditor
                            //    .create(document.querySelector('#editor'))
                            //    .catch(error => {
                            //        console.error(error);
                            //    });
                            function Open() {

                                CKFinder.popup({
                                    chooseFiles: true,
                                    onInit: function (finder) {
                                        finder.on('files:choose', function (evt) {
                                            var file = evt.data.files.first();
                                            document.getElementById('url').value = file.getUrl();
                                            document.getElementById('urlImage').style.backgroundImage = "Url('" + file.getUrl() + "')";
                                            document.getElementById('urlImage').style.backgroundSize = "200px";

                                        });
                                        finder.on('file:choose:resizedImage', function (evt) {
                                            document.getElementById('url').value = evt.data.resizedUrl;
                                        });
                                    }
                                });
                            }

                            CKEDITOR.replace('editor1', {
                                removePlugins: ['easyimage', 'image']
                            }
                            );
                                                                                                                                                                                                                                                                                                //var editor = CKEDITOR.replace('editor1',
                                                                                                                                                                                                                                                                                                //    {
                                                                                                                                                                                                                                                                                                //        extraPlugins: 'image',
                                                                                                                                                                                                                                                                                                //        removePlugins: 'easyimage',
                                                                                                                                                                                                                                                                                                //        filebrowserBrowseUrl: '/CKFinderScripts/ckfinder.html',
                                                                                                                                                                                                                                                                                                //        filebrowserImageBrowseUrl: '/CKFinderScripts/ckfinder.html?type=Images',
                                                                                                                                                                                                                                                                                                //        filebrowserUploadUrl: '/ckfinder/connector?command=QuickUpload&type=Files',
                                                                                                                                                                                                                                                                                                //        filebrowserImageUploadUrl: '/ckfinder/connector?command=QuickUpload&type=Images'
                                                                                                                                                                                                                                                                                                //    });
                                                                                                                                                                                                                                                                                                //CKFinder.setupCKEditor(editor);
                        </script>
                    </div>

                    <div class="form-row">
                        <p><input type="submit" class="btn btn-outline-primary" value="Speichern"></p>
                    </div>
}


                    </div>
                </div>
            </div>
        </main>
    </div>
</div>