@model CMS_Blog.Models.Blog

@{
    ViewBag.Title = "Backend Index";
    ViewData["Title"] = "Backend Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.Partial("~/Views/Shared/_BackendNavBar.cshtml")

<div class="container-fluid">
    <div class="row">
        @Html.Partial("~/Views/Shared/_Navbar.cshtml", Model)

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <!-- Überschrift -->
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Blogbeiträge</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2"></div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5 class="px-10">Beiträge <span class="badge badge-pill badge-primary">@Model.Posts.Count()</span></h5>
                </div>
                <div class="card-body">
                    <div class="list-group">

                        @foreach (var item in Model.Posts)
    {
                    @*@using (Html.BeginForm("Save", "Blog", null, FormMethod.Post))
    {
                    <textarea name="content" id="editor">
                                    @Html.DisplayFor(modelItem => item.Text)
                                </textarea>
                    <p><input type="submit" value="Submit"></p>
    }*@
                        <div class="row">

                            <div class="col">
                                <a type="button" class="list-group-item list-group-item-action" href=@Url.Action("EditPost", "Post", new { Id = item.Id } )>
                                    <h5>@Html.DisplayFor(modelItem => item.Title)</h5>
                                    <p>@Html.DisplayFor(modelItem => item.Date) . <span class="text-primary">@Html.DisplayFor(modelItem => item.User.Alias)</span></p>

                                </a>
                            </div>
                            <div class="col-1 text-center align-middle m-auto">
                                <a href="@Url.Action("Delete", "Post", new { id = item.Id })"><span data-feather="trash-2"></span></a>
                            </div>
                        </div>
                        }
                    </div>
            </div>
                </div>
        </main>
    </div>
</div>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()

    
</script>

