@model CMS_Blog.Models.Blog

@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewData["Title"] = "Blog";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css_bootstrap/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery-ui.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .h1_title {
            font-family: 'Kaushan Script', cursive;
            font-size: 4em;
            margin-bottom: 0.5em !important;
        }

        .carousel-item span {
            position: absolute;
            width: 50%;
            top: 2em;
            line-height: 2em;
            font-family: 'Kaushan Script', cursive;
            font-size: 2em;
        }

        .featurette-image-span span {
            position: absolute;
            width: 50%;
            top: auto;
            bottom: 0;
            line-height: 2em;
            text-align: center;
            background-color: silver;
            background-color: hsla(0, 0%, 100%, 0.5);
        }

        .featurette-divider {
            margin: 60px 0px; /* Space out the Bootstrap <hr> more */
            border: 1px solid #eeeeee;
            border-top: 1px solid #eeeeee;
            width: 100%;
        }

        .featurette {
            padding-top: 80px; /* Vertically center images part 1: add padding above and below text. */
            overflow: hidden; /* Vertically center images part 2: clear their floats. */
        }

        .featurette-image {
            margin-top: -80px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
            display: block;
        }


            /* Give some space on the sides of the floated elements so text doesn't run right into it. */
            .featurette-image.pull-left {
                margin-right: 40px;
            }

            .featurette-image.pull-right {
                margin-left: 40px;
            }

        /* Thin out the marketing headings */
        .featurette-heading {
            font-size: 50px;
            font-weight: 300;
            line-height: 1;
            letter-spacing: -1px;
            font-family: 'Kaushan Script', cursive;
            font-size: 2.5em;
        }

        .pull-right {
            float: right;
        }

        .pull-left {
            float: left;
        }

        .lead {
            margin-bottom: 20px;
            font-size: 21px;
            font-weight: 200;
            line-height: 30px;
        }
    </style>
</head>
<body>
    <header>
        <ul class="nav justify-content-end bg-dark">
            <li class="nav-item">
                <div id="dialog-1" title="Datenschutzerklärung">
                    <p>Wir informieren Sie nachfolgend gemäß den gesetzlichen Vorgaben des Datenschutzrechts (insb. gemäß BDSG n.F. und der europäischen Datenschutz-Grundverordnung ‚DS-GVO‘) über die Art, den Umfang und Zweck der Verarbeitung personenbezogener Daten durch unser Unternehmen. Diese Datenschutzerklärung gilt auch für unsere Websites und Sozial-Media-Profile. Bezüglich der Definition von Begriffen wie etwa „personenbezogene Daten“ oder „Verarbeitung“ verweisen wir auf Art. 4 DS-GVO.</p>
                    <strong>Name und Kontaktdaten des / der Verantwortlichen</strong><br />
                    Unser/e Verantwortliche/r (nachfolgend „Verantwortlicher“) i.S.d. Art. 4 Zif. 7 DS-GVO ist:<br />
                    <br />OTH Amberg-Weiden<br />Kaiser-Wilhelm-Ring 23<br />92224 Amberg<br />E-Mail-Adresse: s.kunz1@oth-aw.de<br /><br /><strong>Datenschutzbeauftragte/r</strong><br />s.kunz1@oth-aw.de<br /><br /><strong>Datenarten, Zwecke der Verarbeitung und Kategorien betroffener Personen</strong><br />
                    <p>Nachfolgend informieren wir Sie über Art, Umfang und Zweck der Erhebung, Verarbeitung und Nutzung personenbezogener Daten.</p>
                    <strong>1. Arten der Daten, die wir verarbeiten</strong><br />Nutzungsdaten (Zugriffszeiten, besuchte Websites etc.), Bestandsdaten (Name, Adresse etc.), Kontaktdaten (Telefonnummer, E-Mail, Fax etc.), Inhaltsdaten (Texteingaben, Videos, Fotos etc.), <br />
                    <br />
                    <strong>2. Zwecke der Verarbeitung nach Art. 13 Abs. 1 c) DS-GVO</strong><br />Erfüllung gesetzlicher Aufbewahrungspflichten, Optimierung und statistische Auswertung unserer Dienste, Kommerzielle Nutzung der Website unterstützen, Nutzererfahrung verbessern, Website benutzerfreundlich gestalten, Marketing / Vertrieb / Werbung, Erstellung von Statistiken, <br />
                    <br />
                    <strong>3. Kategorien der betroffenen Personen nach Art. 13 Abs. 1 e) DS-GVO</strong><br />Beschäftigte, <br />
                    <br />
                    <p>Die betroffenen Personen werden zusammenfassend als „Nutzer“ bezeichnet.</p>
                    <br />

                    <strong>Rechtsgrundlagen der Verarbeitung personenbezogener Daten</strong>
                    <p>Nachfolgend Informieren wir Sie über die Rechtsgrundlagen der Verarbeitung personenbezogener Daten:</p>
                    <ol style="margin:10px 0px; padding:15px;">
                        <li>Wenn wir Ihre Einwilligung für die Verarbeitung personenbezogenen Daten eingeholt haben, ist Art. 6 Abs. 1 S. 1 lit. a) DS-GVO Rechtsgrundlage.</li>
                        <li>Ist die Verarbeitung zur Erfüllung eines Vertrags oder zur Durchführung vorvertraglicher Maßnahmen erforderlich, die auf Ihre Anfrage hin erfolgen, so ist Art. 6 Abs. 1 S. 1 lit. b) DS-GVO Rechtsgrundlage.</li>
                        <li>Ist die Verarbeitung zur Erfüllung einer rechtlichen Verpflichtung erforderlich, der wir unterliegen (z.B. gesetzliche Aufbewahrungspflichten), so ist Art. 6 Abs. 1 S. 1 lit. c) DS-GVO Rechtsgrundlage.</li>
                        <li>Ist die Verarbeitung erforderlich, um lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person zu schützen, so ist Art. 6 Abs. 1 S. 1 lit. d) DS-GVO Rechtsgrundlage.</li>
                        <li>Ist die Verarbeitung zur Wahrung unserer oder der berechtigten Interessen eines Dritten erforderlich und überwiegen diesbezüglich Ihre Interessen oder Grundrechte und Grundfreiheiten nicht, so ist Art. 6 Abs. 1 S. 1 lit. f) DS-GVO Rechtsgrundlage.</li>
                    </ol>
                    <br />
                    <strong>Weitergabe personenbezogener Daten an Dritte und Auftragsverarbeiter</strong>
                    <p>
                        Ohne Ihre Einwilligung geben wir grundsätzlich keine Daten an Dritte weiter. Sollte dies doch der Fall sein, dann erfolgt die Weitergabe auf der Grundlage der zuvor genannten Rechtsgrundlagen z.B. bei der Weitergabe von Daten an Online-Paymentanbieter zur Vertragserfüllung oder aufgrund gerichtlicher Anordnung oder wegen einer gesetzlichen Verpflichtung zur Herausgabe der Daten zum Zwecke der Strafverfolgung, zur Gefahrenabwehr oder zur Durchsetzung der Rechte am geistigen Eigentum.<br />
                        Wir setzen zudem Auftragsverarbeiter (externe Dienstleister z.B. zum Webhosting unserer Websites und Datenbanken) zur Verarbeitung Ihrer Daten ein. Wenn im Rahmen einer Vereinbarung zur Auftragsverarbeitung an die Auftragsverarbeiter Daten weitergegeben werden, erfolgt dies immer nach Art. 28 DS-GVO. Wir wählen dabei unsere Auftragsverarbeiter sorgfältig aus, kontrollieren diese regelmäßig und haben uns ein Weisungsrecht hinsichtlich der Daten einräumen lassen. Zudem müssen die Auftragsverarbeiter geeignete technische und organisatorische Maßnahmen getroffen haben und die Datenschutzvorschriften gem. BDSG n.F. und DS-GVO einhalten
                    </p>

                    <br />
                    <strong>Datenübermittlung in Drittstaaten</strong>
                    <p>Durch die Verabschiedung der europäischen Datenschutz-Grundverordnung (DS-GVO) wurde eine einheitliche Grundlage für den Datenschutz in Europa geschaffen. Ihre Daten werden daher vorwiegend durch Unternehmen verarbeitet, für die DS-GVO Anwendung findet. Sollte doch die Verarbeitung durch Dienste Dritter außerhalb der Europäischen Union oder des Europäischen Wirtschaftsraums stattfinden, so müssen diese die besonderen Voraussetzungen der Art. 44 ff. DS-GVO erfüllen. Das bedeutet, die Verarbeitung erfolgt aufgrund besonderer Garantien, wie etwa die von der EU-Kommission offiziell anerkannte Feststellung eines der EU entsprechenden Datenschutzniveaus oder der Beachtung offiziell anerkannter spezieller vertraglicher Verpflichtungen, der so genannten „Standardvertragsklauseln“. Bei US-Unternehmen erfüllt die Unterwerfung unter das sog. „Privacy-Shield“, dem Datenschutzabkommen zwischen der EU und den USA, diese Voraussetzungen.</p>

                    <br />
                    <strong>Löschung von Daten und Speicherdauer</strong>
                    <p>Sofern nicht in dieser Datenschutzerklärung ausdrücklich angegeben, werden Ihre personenbezogen Daten gelöscht oder gesperrt, sobald der Zweck für die Speicherung entfällt, es sei denn deren weitere Aufbewahrung ist zu Beweiszwecken erforderlich oder dem stehen gesetzliche Aufbewahrungspflichten entgegenstehen. Darunter fallen etwa handelsrechtliche Aufbewahrungspflichten von Geschäftsbriefen nach § 257 Abs. 1 HGB (6 Jahre) sowie steuerrechtliche Aufbewahrungspflichten nach § 147 Abs. 1 AO von Belegen (10 Jahre). Wenn die vorgeschriebene Aufbewahrungsfrist abläuft, erfolgt eine Sperrung oder Löschung Ihrer Daten, es sei denn die Speicherung ist weiterhin für einen Vertragsabschluss oder zur Vertragserfüllung erforderlich.</p>

                    <br />
                    <strong>Bestehen einer automatisierten Entscheidungsfindung</strong>
                    <p>Wir setzen keine automatische Entscheidungsfindung oder ein Profiling ein.</p>

                    <br />
                    <strong>Bereitstellung unserer Website und Erstellung von Logfiles</strong>
                    <ol style="margin:10px 0px; padding:15px;">
                        <li>
                            Wenn Sie unsere Webseite lediglich informatorisch nutzen (also keine Registrierung und auch keine anderweitige Übermittlung von Informationen), erheben wir nur die personenbezogenen Daten, die Ihr Browser an unseren Server übermittelt. Wenn Sie unsere Website betrachten möchten, erheben wir die folgenden Daten:
                            • IP-Adresse;<br />
                            • Internet-Service-Provider des Nutzers;<br />
                            • Datum und Uhrzeit des Abrufs;<br />
                            • Browsertyp;<br />
                            • Sprache und Browser-Version;<br />
                            • Inhalt des Abrufs;<br />
                            • Zeitzone;<br />
                            • Zugriffsstatus/HTTP-Statuscode;<br />
                            • Datenmenge;<br />
                            • Websites, von denen die Anforderung kommt;<br />
                            • Betriebssystem.<br />
                            Eine Speicherung dieser Daten zusammen mit anderen personenbezogenen Daten von Ihnen findet nicht statt.<br /><br />
                        </li>
                        <li>Diese Daten dienen dem Zweck der nutzerfreundlichen, funktionsfähigen und sicheren Auslieferung unserer Website an Sie mit Funktionen und Inhalten sowie deren Optimierung und statistischen Auswertung.<br /><br /></li>
                        <li>Rechtsgrundlage hierfür ist unser in den obigen Zwecken auch liegendes berechtigtes Interesse an der Datenverarbeitung nach Art. 6 Abs. 1 S.1 lit. f)  DS-GVO.<br /><br /></li>
                        <li>Wir speichern aus Sicherheitsgründen diese Daten in Server-Logfiles für die Speicherdauer von 180 Tagen. Nach Ablauf dieser Frist werden diese automatisch gelöscht, es sei denn wir benötigen deren Aufbewahrung zu Beweiszwecken bei Angriffen auf die Serverinfrastruktur oder anderen Rechtsverletzungen.<br /></li>
                    </ol><br />
                    <strong>Cookies</strong>
                    <ol style="margin:10px 0px; padding:15px;">
                        <li>
                            Wir verwenden sog. Cookies bei Ihrem Besuch unserer Website. Cookies sind kleine Textdateien, die Ihr Internet-Browser auf Ihrem Rechner ablegt und speichert. Wenn Sie unsere Website erneut aufrufen, geben diese Cookies Informationen ab, um Sie automatisch wiederzuerkennen. Die so erlangten Informationen dienen dem Zweck, unsere Webangebote technisch und wirtschaftlich zu optimieren und Ihnen einen leichteren und sicheren Zugang auf unsere Website zu ermöglichen. Wir informieren Sie dazu beim Aufruf unserer Website mittels eines Hinweises auf unsere Datenschutzerklärung über die Verwendung von Cookies zu den zuvor genannten Zwecken und wie Sie dieser widersprechen bzw. deren Speicherung verhindern können („Opt-out“). Unsere Website nutzt Session-Cookies, persistente Cookies und Cookies von Drittanbietern:<br /><br />
                            <strong>• Session-Cookies:</strong> Wir verwenden sog. Cookies zum Wiedererkennen mehrfacher Nutzung eines Angebots durch denselben Nutzer (z.B. wenn Sie sich eingeloggt haben zur Feststellung Ihres Login-Status). Wenn Sie unsere Seite erneut aufrufen, geben diese Cookies Informationen ab, um Sie automatisch wiederzuerkennen. Die so erlangten Informationen dienen dazu, unsere Angebote zu optimieren und Ihnen einen leichteren Zugang auf unsere Seite zu ermöglichen. Wenn Sie den Browser schließen oder Sie sich ausloggen, werden die Session-Cookies gelöscht.<br /><br />
                            <strong>• Persistente Cookies:</strong> Diese werden automatisiert nach einer vorgegebenen Dauer gelöscht, die sich je nach Cookie unterscheiden kann. In den Sicherheitseinstellungen Ihres Browsers können Sie die Cookies jederzeit löschen.<br /><br />
                            <strong>• Cookies von Drittanbietern (Third-Party-Cookies):</strong> Entsprechend Ihren Wünschen können Sie können Ihre Browser-Einstellung konfigurieren und z. B. Die Annahme von Third-Party-Cookies oder allen Cookies ablehnen. Wir weisen Sie jedoch an dieser Stelle darauf hin, dass Sie dann eventuell nicht alle Funktionen dieser Website nutzen können. Lesen Sie Näheres zu diesen Cookies bei den jeweiligen Datenschutzerklärungen zu den Drittanbietern.<br /><br />
                        </li>
                        <li>Rechtsgrundlage dieser Verarbeitung ist Art. 6 Abs. 1 S. lit. b) DS-GVO, wenn die Cookies zur Vertragsanbahnung z.B. bei Bestellungen gesetzt werden und ansonsten haben wir ein berechtigtes Interesse an der effektiven Funktionalität der Website, so dass in dem Falle Art. 6 Abs. 1 S. 1 lit. f) DS-GVO Rechtsgrundlage ist.<br /><br /></li>
                        <li><strong>Widerspruch und „Opt-Out“:</strong>      Das Speichern von Cookies auf Ihrer Festplatte können Sie allgemein verhindern, indem Sie in Ihren Browser-Einstellungen „keine Cookies akzeptieren“ wählen. Dies kann aber eine Funktionseinschränkung unserer Angebote zur Folge haben. Sie können dem Einsatz von Cookies von Drittanbietern zu Werbezwecken über ein sog. „Opt-out“ über diese amerikanische Website (<a href="https://optout.aboutads.info" rel="nofollow" target="_blank">https://optout.aboutads.info</a>) oder diese europäische Website (<a href="http://www.youronlinechoices.com/de/praferenzmanagement/" rel="nofollow" target="_blank">http://www.youronlinechoices.com/de/praferenzmanagement/</a>) widersprechen.</li>
                    </ol><br />
                    <strong>Nutzung der Blog-Funktionen / Kommentare</strong>
                    <ol style="margin:10px 0px; padding:15px;">
                        <li>Sie können in unserem Blog, der Beiträge zu Themen unserer Website enthält, öffentliche Kommentare abgeben. Sie können ein Pseudonym statt eines Klarnamens verwenden. Ihr Beitrag wird dann unter dem Pseudonym veröffentlicht. Die Angabe der E-Mail-Adresse ist Pflicht, alle sonstigen Informationen sind freiwillig.<br /><br /></li>
                        <li>Wir speichern bei Ihrer Einstellung eines Kommentars Ihre IP-Adresse mit Datum und Uhrzeit, welche wir nach 180 Tagen löschen. Die Speicherung dient dem berechtigten Interesse der Verteidigung gegen die Inanspruchnahme Dritter bei der Veröffentlichung rechtswidriger oder unwahrer Inhalte durch Sie. Ihre E-Mail-Adresse speichern wir zum Zweck der Kontaktaufnahme falls Dritte Ihre Kommentare juristisch beanstanden sollten.<br /><br /></li>
                        <li>Rechtsgrundlagen sind Art. 6 Abs. 1 S. 1 lit. b) und f) DS-GVO.<br /><br /></li>
                        <li>Vor der Veröffentlichung prüfen wir Ihre Kommentare nicht. Im Falle von Beanstandungen Dritter behalten wir uns ein Löschrecht hinsichtlich Ihrer Kommentare vor. Wir geben die Daten nicht an Dritte weiter, es sei denn es ist notwendig zur Verfolgung unserer Ansprüche oder es besteht eine gesetzliche Verpflichtung (Art. 6 Abs. 1 S. 1. lit. c) DS-GVO).<br /><br /></li>
                        <li>Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung bzw. die Durchführung des Vertrages nicht mehr erforderlich sind, weil der Vertrag beendet wurde.<br /><br /></li>
                    </ol><br />
                    <strong>Kontaktaufnahme per Kontaktformular / E-Mail / Fax / Post</strong>
                    <ol style="margin:10px 0px; padding:15px;">
                        <li>Bei der Kontaktaufnahme mit uns per Kontaktformular, Fax, Post oder E-Mail werden Ihre Angaben zum Zwecke der Abwicklung der Kontaktanfrage verarbeitet.<br /><br /></li>
                        <li>Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer Einwilligung von Ihnen Art. 6 Abs. 1 S. 1 lit. a) DS-GVO. Rechtsgrundlage für die Verarbeitung der Daten, die im Zuge einer Kontaktanfrage oder E-Mail, eines Briefes oder Faxes übermittelt werden, ist Art. 6 Abs. 1 S. 1 lit. f) DS-GVO. Der Verantwortliche hat ein berechtigtes Interesse an der Verarbeitung und Speicherung der Daten, um Anfragen der Nutzer beantworten zu können, zur Beweissicherung aus Haftungsgründen und um ggf. seiner gesetzlichen Aufbewahrungspflichten bei Geschäftsbriefen nachkommen zu können. Zielt der Kontakt auf den Abschluss eines Vertrages ab, so ist zusätzliche Rechtsgrundlage für die Verarbeitung Art. 6 Abs. 1 S. 1 lit. b) DS-GVO.<br /><br /></li>
                        <li>Wir können Ihre Angaben und Kontaktanfrage in unserem Customer-Relationship-Management System ("CRM System") oder einem vergleichbaren System speichern.<br /><br /></li>
                        <li>Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Für die personenbezogenen Daten aus der Eingabemaske des Kontaktformulars und diejenigen, die per E-Mail übersandt wurden, ist dies dann der Fall, wenn die jeweilige Konversation mit Ihnen beendet ist. Beendet ist die Konversation dann, wenn sich aus den Umständen entnehmen lässt, dass der betroffene Sachverhalt abschließend geklärt ist. Anfragen von Nutzern, die über einen Account bzw. Vertrag mit uns verfügen, speichern wir bis zum Ablauf von zwei Jahren nach Vertragsbeendigung. Im Fall von gesetzlichen Archivierungspflichten erfolgt die Löschung nach deren Ablauf: Ende handelsrechtlicher (6 Jahre) und steuerrechtlicher (10 Jahre) Aufbewahrungspflicht.<br /><br /></li>
                        <li>Sie haben jederzeit die Möglichkeit, die Einwilligung nach Art. 6 Abs. 1 S. 1 lit. a) DS-GVO zur Verarbeitung der personenbezogenen Daten zu widerrufen. Nehmen Sie per E-Mail Kontakt mit uns auf, so können Sie der Speicherung der personenbezogenen Daten jederzeit widersprechen.<br /><br /></li>
                    </ol><br />
                    <strong>Kontaktaufnahme per Telefon</strong>
                    <ol style="margin:10px 0px; padding:15px;">
                        <li>Bei der Kontaktaufnahme mit uns per Telefon wird Ihre Telefonnummer zur Bearbeitung der Kontaktanfrage und deren Abwicklung verarbeitet und temporär im RAM / Cache des Telefongerätes / Displays gespeichert bzw. angezeigt. Die Speicherung erfolgt aus Haftungs- und Sicherheitsgründen, um den Beweis des Anrufs führen zu können sowie aus wirtschaftlichen Gründen, um einen Rückruf zu ermöglichen. Im Falle von unberechtigten Werbeanrufen, sperren wir die Rufnummern.<br /><br /></li>
                        <li>Rechtsgrundlage für die Verarbeitung der Telefonnummer ist Art. 6 Abs. 1 S. 1 lit. f) DS-GVO. Zielt der Kontakt auf den Abschluss eines Vertrages ab, so ist zusätzliche Rechtsgrundlage für die Verarbeitung Art. 6 Abs. 1 lit. b) DS-GVO.<br /><br /></li>
                        <li>Der Gerätecache speichert die Anrufe  Tage und überschreibt bzw. löscht sukzessiv alte Daten, bei Entsorgung des Gerätes werden alle Daten gelöscht und der Speicher ggf. zerstört. Gesperrte Telefonnummer werden jährlich auf die Notwendigkeit der Sperrung geprüft.<br /><br /></li>
                        <li>Sie können die Anzeige der Telefonnummer verhindern, indem Sie mit unterdrückter Telefonnummer anrufen.<br /><br /></li>
                    </ol><br />
                    <strong>Google Adsense</strong>
                    <ol style="margin:10px 0px; padding:15px;">
                        <li>Wir haben Werbeanzeigen des Google Dienstes „Adsense“ (Google Inc., 1600 Amphitheater Parkway, Mountainview, California 94043, USA) auf unserer Webseite integriert. Die Werbeanzeigen sind über den (i)-Hinweis „Google-Anzeigen“ in jeder Anzeige gekennzeichnet. Wir haben dabei die personalisierten Anzeigen aktiviert, um Ihnen interessantere Werbung anzuzeigen, die die kommerzielle Nutzung unserer Website unterstützt, den Wert für uns steigert und für Sie die Nutzererfahrung verbessert. Mithilfe personalisierter Werbung können wir über Adsense Nutzer auf Grundlage ihrer Interessen und demografischen Merkmale (z.B. "Sportbegeisterte") erreichen.<br /><br /></li>
                        <li>Zu diesen Zwecken erhält Google beim Besuch unserer Website die Information, dass Sie unsere Website aufgerufen haben. Dazu setzt Google einen Web-Beacon bzw. Cookie auf Ihren Computer. Der volle Umfang der Datenverarbeitung und die Speicherdauer ist uns nicht bekannt. Die Daten werden auch in die USA übertragen und dort analysiert. Wenn Sie mit einem Google-Account eingeloggt sind, können durch Adsense die Daten Ihrem Account zugeordnet werden. Wenn Sie dies nicht wünschen, müssen Sie sich vor dem Besuch unserer Website ausloggen.<br /><br /></li>
                        <li>
                            Aber auch andere Informationen können hierfür durch Google herangezogen werden:<br /><br />
                            • die Art der von Ihnen besuchten Websites sowie der auf Ihrem Gerät installierten mobilen Apps;<br /><br />
                            • Cookies in Ihrem Browser und Einstellungen in Ihrem Google-Konto;<br /><br />
                            • Websites und Apps, die Sie besucht haben;<br /><br />
                            • Ihre Aktivitäten auf anderen Geräten;<br /><br />
                            • vorherige Interaktionen mit Anzeigen oder Werbediensten von Google;<br /><br />
                            • Ihre Google-Kontoaktivitäten und -informationen.<br /><br /><br />
                        </li>
                        <li>Bei einem Klick auf eine Adsense-Anzeige wird die IP der Nutzer durch Google verarbeitet (Nutzungsdaten), wobei die Verarbeitung pseudonymisiert (sog. „Werbe-ID“) erfolgt, indem die IP um die letzten beiden Stellen gekürzt wird.<br /><br /></li>
                        <li>Google verknüpft bei personalisierter Werbung Kennungen aus Cookies oder ähnlichen Technologien nicht mit besonderen Kategorien personenbezogener Daten nach Art. 9 DS-GVO wie ethnischer Herkunft, Religion, sexueller Orientierung oder Gesundheit.<br /><br /></li>
                        <li>Es ist nicht auszuschließen, dass die obigen Daten an Dritte, Behörden oder Google Partner weitergegeben werden. Diese Website hat auch Google AdSense-Anzeigen von Drittanbietern aktiviert. Die vorgenannten Daten können an diese Drittanbieter (benannt unter <a href="https://support.google.com/dfp_sb/answer/94149" rel="nofollow" target="_blank">https://support.google.com/dfp_sb/answer/94149</a>) übertragen werden.<br /><br /></li>
                        <li>Rechtsgrundlage für die Verarbeitung Ihrer Daten ist Art. 6 Abs. 1 S. 1 lit. f) DS-GVO. Google ist nach dem EU-US Privacy Shield zertifiziert: <a href="https://www.privacyshield.gov/EU-US-Framework" rel="nofollow" target="_blank">https://www.privacyshield.gov/EU-US-Framework</a>.<br /><br /></li>
                        <li>
                            Sie können der Installation von Cookies durch Google Adsense auf verschiedene Arten widersprechen bzw. diese verhindern:<br />
                            • Sie können die Cookies in Ihrem Browser durch die <strong>Einstellung “keine Cookies akzeptieren”</strong> unterbinden, was auch die Cookies von Drittanbietern beinhaltet;<br /><br />
                            • Sie können direkt bei Google über den Link <a href="https://adssettings.google.com" rel="nofollow" target="_blank">https://adssettings.google.com</a> die personenbezogenen Anzeigen bei Google deaktivieren, wobei diese Einstellung nur solange Bestand hat bis Sie Ihre Cookies löschen. Zur <strong>Deaktivierung der personalisierten Werbung auf Mobilgeräten</strong> finden Sie hier eine Anleitung: <a href="https://support.google.com/adsense/troubleshooter/1631343" rel="nofollow" target="_blank">https://support.google.com/adsense/troubleshooter/1631343;</a><br /><br />
                            • Sie können die personalisierten <strong>Anzeigen der Drittanbieter</strong>, die an der Werbeselbstregulierungsinitiaive “About Ads” teilnehmen über den Link <a href="https://optout.aboutads.info" rel="nofollow" target="_blank">https://optout.aboutads.info</a> für US-Seiten oder für EU-Seiten unter <a href="http://www.youronlinechoices.com/de/praferenzmanagement/" rel="nofollow" target="_blank">http://www.youronlinechoices.com/de/praferenzmanagement/</a> deaktivieren, wobei diese Einstellung nur solange Bestand hat, bis Sie all Ihre Cookies löschen;<br />
                            • Sie können durch ein <strong>Browser-Plug-in</strong> für Chrome, Firefox oder Internet-Explorer unter dem Link <a href="https://support.google.com/ads/answer/7395996" rel="nofollow" target="_blank">https://support.google.com/ads/answer/7395996</a> dauerhaft Cookies deaktivieren. Diese Deaktivierung kann zur Folge haben, dass Sie nicht alle Funktionen unserer Website mehr vollumfänglich nutzen können.<br />
                            <br />
                        </li>
                        <li>In der Datenschutzerklärung für Werbung von Google unter <a href="https://policies.google.com/technologies/ads" rel="nofollow" target="_blank">https://policies.google.com/technologies/ads</a> finden Sie weitere Informationen zur Verwendung von Google Cookies in Anzeigen und deren Werbetechnologien, Speicherdauer, Anonymisierung, Standortdaten, Funktionsweise und Ihre Rechte.<br /><br /></li>

                    </ol><br />
                    <strong>Google AdWords mit Conversion-Tracking</strong>
                    <ol style="margin:10px 0px; padding:15px;">
                        <li>Wir nutzen den Dienst „AdWords mit Conversion-Tracking“ (Google Inc., 1600 Amphitheater Parkway, Mountainview, California 94043, USA), um auf Websites Dritter mittels Anzeige auf unsere Website aufmerksam zu machen. Wenn Sie auf eine Google-Anzeige von uns klicken, wird ein Cookie in Ihrem Browser gespeichert, welcher etwa 30 Tage gültig ist. Wenn Sie danach unsere Website aufrufen, können wir und auch Google anhand des Cookies auswerten, ob Sie unsere Website besucht haben und welche Seite Sie bei uns besucht haben. Hierüber erstellt Google eine Statistik. Der volle Umfang der Datenverarbeitung ist uns nicht bekannt. Die Daten werden auch in die USA übertragen und dort analysiert. Wenn Sie mit einem Google-Account eingeloggt sind, können durch AdWords die Daten Ihrem Account zugeordnet werden. Wenn Sie dies nicht wünschen, müssen Sie sich vor dem Besuch unserer Website ausloggen. Dieses Conversion-Tracking dient dem Zweck der Analyse, Optimierung und dem wirtschaftlichen Betrieb unserer Werbung und Website.<br /><br /></li>
                        <li>Rechtsgrundlage für die Verarbeitung Ihrer Daten ist unser berechtigtes Interesse an der Analyse, Optimierung und dem wirtschaftlichen Betrieb unserer Werbung und Website gemäß Art. 6 Abs. 1 S. 1 lit. f) DS-GVO. Google ist nach dem EU-US Privacy Shield zertifiziert: <a href="https://www.privacyshield.gov/EU-US-Framework" rel="nofollow" target="_blank">https://www.privacyshield.gov/EU-US-Framework</a>.<br /><br /></li>
                        <li>
                            Sie können der Installation von Cookies durch Google auf verschiedene Arten widersprechen bzw. diese verhindern:<br /><br />
                            • Sie können die Cookies in Ihrem Browser durch die <strong>Einstellung “keine Cookies akzeptieren”</strong> unterbinden, was auch die Cookies von Drittanbietern beinhaltet;<br /><br />
                            • Sie können direkt bei Google über den Link <a href="https://adssettings.google.com" rel="nofollow" target="_blank">https://adssettings.google.com</a> das Conversion-Tracking deaktivieren, wobei diese Einstellung nur solange Bestand hat, bis Sie Ihre Cookies löschen.<br /><br />
                            • Sie können die personalisierten <strong>Anzeigen der Drittanbieter</strong>, die an der Werbeselbstregulierungsinitiaive “About Ads” teilnehmen über den Link <a href="https://optout.aboutads.info" rel="nofollow" target="_blank">https://optout.aboutads.info</a> für US-Seiten oder für EU-Seiten unter <a href="http://www.youronlinechoices.com/de/praferenzmanagement/" rel="nofollow" target="_blank">http://www.youronlinechoices.com/de/praferenzmanagement/</a> deaktivieren, wobei diese Einstellung nur solange Bestand hat, bis Sie all Ihre Cookies löschen;<br /><br />
                            • Sie können durch ein <strong>Browser-Plug-in</strong> für Chrome, Firefox oder Internet-Explorer unter dem Link <a href="https://support.google.com/ads/answer/7395996" rel="nofollow" target="_blank">https://support.google.com/ads/answer/7395996</a> dauerhaft Cookies deaktivieren. Diese Deaktivierung kann zur Folge haben, dass Sie nicht alle Funktionen unserer Website mehr vollumfänglich nutzen können.<br /><br />
                            <br />
                        </li>
                        <li>Weitere Informationen finden Sie in der Datenschutzerklärung von Google unter <a href="https://policies.google.com/privacy?hl=de&gl=de" rel="nofollow" target="_blank">https://policies.google.com/privacy?hl=de&gl=de</a> und <a href="https://services.google.com/sitestats/de.html" rel="nofollow" target="_blank">https://services.google.com/sitestats/de.html</a>.<br /><br /></li>
                    </ol><br />
                    <strong>Google AdWords Remarketing / „Ähnliche Zielgruppen“</strong>
                    <ol style="margin:10px 0px; padding:15px;">
                        <li>Wir nutzen die Anwendung Google AdWords Remarketing/ „Ähnliche Zielgruppen““ (Google Inc., 1600 Amphitheater Parkway, Mountainview, California 94043, USA), um auf Websites Dritter und anderen Internetangeboten mittels Anzeige auf unsere Website aufmerksam zu machen. Mit der <a href="https://support.google.com/adwords/answer/adwords/answer/1752338" rel="nofollow" target="_blank">Remarketing oder "Ähnliche Zielgruppen" – Funktion</a> in AdWords können wir Sie dort erreichen, wenn Sie unsere Website bereits besucht haben und Sie jeweils mit einer passenden Botschaft per Anzeige ansprechen. Mit Remarketing können wir unsere früheren Besucher erneut auf unsere Website per Klick holen. Wenn Sie bestimmte Seiten von uns besuchen, wird ein Cookie in Ihrem Browser gespeichert, welcher 30 Tage gültig ist. Wenn Sie danach andere Websites bzw. Internetangebote aufrufen, können wir und auch Google anhand des Cookies auswerten, ob Sie unsere Website bereits besucht hatten und Ihre auch dort unsere Werbung anzeigen. Hierüber erstellt Google eine Statistik. Der volle Umfang der Datenverarbeitung ist uns nicht bekannt. Die Daten werden auch in die USA übertragen und dort analysiert. Laut Google findet eine Zusammenführung der, durch das Remarketing erhobenen, Daten mit Ihren ggf. bei Google gespeicherten personenbezogenen Daten nicht statt, sondern diese werden per Pseudonym verarbeitet. Dieses Remarketing dient dem Zweck der Analyse, Optimierung und dem wirtschaftlichen Betrieb unserer Werbung und Website.<br /><br /></li>
                        <li>Rechtsgrundlage für die Verarbeitung Ihrer Daten ist unser berechtigtes Interesse an der Analyse, Optimierung und dem wirtschaftlichen Betrieb unserer Werbung und Website gemäß Art. 6 Abs. 1 S. 1 lit. f) DS-GVO. Google ist nach dem EU-US Privacy Shield zertifiziert: <a href="https://www.privacyshield.gov/EU-US-Framework" rel="nofollow" target="_blank">https://www.privacyshield.gov/EU-US-Framework</a>.<br /><br /></li>
                        <li>
                            Sie können der Installation von Cookies durch Google auf verschiedene Arten widersprechen bzw. diese verhindern:<br /><br />
                            • Sie können die Cookies in Ihrem Browser durch die <strong>Einstellung “keine Cookies akzeptieren”</strong> unterbinden, was auch die Cookies von Drittanbietern beinhaltet;<br /><br />
                            • Sie können direkt bei Google über den Link <a href="https://adssettings.google.com" rel="nofollow" target="_blank">https://adssettings.google.com</a> die personalisierten Anzeigen deaktivieren, wobei diese Einstellung nur solange Bestand hat bis Sie Ihre Cookies löschen.<br /><br />
                            • Sie können die personalisierten <strong>Anzeigen der Drittanbieter</strong>, die an der Werbeselbstregulierungsinitiaive “About Ads” teilnehmen über den Link <a href="https://optout.aboutads.info" rel="nofollow" target="_blank">https://optout.aboutads.info</a> für US-Seiten oder für EU-Seiten unter <a href="http://www.youronlinechoices.com/de/praferenzmanagement/" rel="nofollow" target="_blank">http://www.youronlinechoices.com/de/praferenzmanagement/</a> deaktivieren, wobei diese Einstellung nur solange Bestand hat bis Sie all Ihre Cookies löschen;<br /><br />
                            • Sie können durch ein <strong>Browser-Plug-in</strong> für Chrome, Firefox oder Internet-Explorer unter dem Link <a href="https://support.google.com/ads/answer/7395996" rel="nofollow" target="_blank">https://support.google.com/ads/answer/7395996</a> dauerhaft Cookies deaktivieren. Diese Deaktivierung kann zur Folge haben, dass Sie nicht alle Funktionen unserer Website mehr vollumfänglich nutzen können.<br /><br />
                            <br />
                        </li>
                        <li>Weitere Informationen finden Sie in der Datenschutzerklärung von Google unter <a href="https://policies.google.com/privacy?hl=de&gl=de" rel="nofollow" target="_blank">https://policies.google.com/privacy?hl=de&gl=de</a>.<br /><br /></li>
                    </ol><br />
                    <strong>YouTube-Videos</strong>

                    <ol style="margin:10px 0px; padding:15px;">
                        <li>Wir haben auf unserer Website YouTube-Videos von youtube.com mittels der embedded-Funktion eingebunden, so dass diese auf unserer Website direkt aufrufbar sind. YouTube gehört zur Google Inc., 1600 Amphitheater Parkway, Mountainview, California 94043, USA, EU-Niederlassung: Google Dublin, Google Ireland Ltd., Gordon House, Barrow Street, Dublin 4, Ireland. Wir haben die Videos im sog. „erweiterten Datenschutz-Modus“ eingebunden, ohne dass mit Cookies das Nutzungsverhalten erfasst wird, um die Videowiedergabe zu personalisieren. Stattdessen basieren die Videoempfehlungen auf dem aktuell abgespielten Video. Videos, die im erweiterten Datenschutzmodus in einem eingebetteten Player wiedergegeben werden, wirken sich nicht darauf aus, welche Videos Ihnen auf YouTube empfohlen werden.Beim Start eines Videos (Klick aufs Video) erhält YouTube die Information, dass Sie die entsprechende Unterseite unserer Website aufgerufen haben. Die gewonnenen Daten werden in die USA übertragen und dort gespeichert. Dies erfolgt auch ohne Nutzerkonto bei Google. Sollten Sie in Ihren Google-Account eingeloggt sein, kann Google die obigen Daten Ihrem Account zuordnen. Wenn Sie dies nicht wünschen, müssen Sie sich in Ihrem Google-Account ausloggen. Google erstellt aus solchen Daten Nutzerprofile und nutzt diese Daten zum Zwecke der Werbung, Marktforschung oder Optimierung seiner Websites.<br /><br /></li>
                        <li>Rechtsgrundlage hierfür ist unser in den obigen Zwecken auch liegendes berechtigtes Interesse an der Datenverarbeitung nach Art. 6 Abs. 1 S.1 lit. f)  DS-GVO.<br /><br /></li>
                        <li>Sie haben gegenüber Google ein Widerspruchsrecht gegen die Bildung von Nutzerprofilen. Bitte richten Sie sich deswegen direkt an Google über die unten genannte Datenschutzerklärung. Ein Opt-Out-Widerspruch hinsichtlich der Werbe-Cookies können Sie hier in Ihrem Google-Account vornehmen:<br /><a href="https://adssettings.google.com/authenticated" rel="nofollow" target="_blank">https://adssettings.google.com/authenticated</a>.<br /><br /></li>
                        <li>In den Nutzungsbedingungen von YouTube unter <a href="https://www.youtube.com/t/terms" rel="nofollow" target="_blank">https://www.youtube.com/t/terms</a> und in der Datenschutzerklärung für Werbung von Google unter <a href="https://policies.google.com/technologies/ads" rel="nofollow" target="_blank">https://policies.google.com/technologies/ads</a> finden Sie weitere Informationen zur Verwendung von Google Cookies und deren Werbetechnologien, Speicherdauer, Anonymisierung, Standortdaten, Funktionsweise und Ihre Rechte. Allgemeine Datenschutzerklärung von Google: <a href="https://policies.google.com/privacy" rel="nofollow" target="_blank">https://policies.google.com/privacy</a>.<br /><br /></li>
                        <li>Google ist nach dem EU-US Privacy Shield zertifiziert (<a href="https://www.privacyshield.gov/EU-US-Framework" rel="nofollow" target="_blank">https://www.privacyshield.gov/EU-US-Framework</a>) und daher verpflichtet europäisches Datenschutzrecht einzuhalten.<br /><br /></li>
                    </ol><br />
                    <strong>Google ReCAPTCHA</strong>

                    <ol style="margin:10px 0px; padding:15px;">
                        <li>Wir haben auf unserer Webseite die Anti-Spam-Funktion „reCAPTCHA“ von „Google“ (Google Inc., 1600 Amphitheater Parkway, Mountainview, California 94043, USA, EU-Niederlassung: Google Dublin, Google Ireland Ltd., Gordon House, Barrow Street, Dublin 4, Ireland) integriert. Durch den Einsatz von „reCAPTCHA“ in unseren Formularen können wir feststellen, ob die Eingabe durch eine Maschine (Robot) oder einen Menschen erfolgte. Bei der Nutzung des Dienstes können Ihre IP-Adresse und ggf. weitere dafür benötigte Daten an Google-Server in den USA übertragen werden.<br /><br /></li>
                        <li>Zweck der Verarbeitung dieser Daten ist die Vermeidung von Spam und Missbrauch sowie unser wirtschaftliches Interesse an der Optimierung unserer Website.<br /><br /></li>
                        <li>Rechtsgrundlage hierfür ist unser in den obigen Zwecken auch liegendes berechtigtes Interesse an der Datenverarbeitung nach Art. 6 Abs. 1 S.1 lit. f)  DS-GVO.<br /><br /></li>
                        <li>Google ist unter dem Privacy-Shield-Abkommen zertifiziert (<a href="https://www.privacyshield.gov/EU-US-Framework" rel="nofollow" target="_blank">https://www.privacyshield.gov/EU-US-Framework</a>). So wird sichergestellt, dass das europäische Datenschutzrecht eingehalten wird.<br /><br /></li>
                        <li>Weitere Informationen finden Sie zu Google ReCAPTCHA unter <a href="https://www.google.com/recaptcha/" rel="nofollow" target="_blank">https://www.google.com/recaptcha/</a> sowie in der Datenschutzerklärung von Google unter: <a href="https://policies.google.com/privacy" rel="nofollow" target="_blank">https://policies.google.com/privacy</a>.<br /><br /></li>
                    </ol><br />
                    <strong>Google Maps</strong>

                    <ol style="margin:10px 0px; padding:15px;">
                        <li>Wir haben auf unserer Website Karten von „Google Maps“ (Google Inc., 1600 Amphitheater Parkway, Mountainview, California 94043, USA, EU-Niederlassung: Google Dublin, Google Ireland Ltd., Gordon House, Barrow Street, Dublin 4, Ireland) integriert. Damit können wirden Standort von Adressen und eine Anfahrtsbeschreibung direkt auf unserer Website in interaktiven Karten anzeigen und Ihnen die Nutzung dieses Tools ermöglichen.<br /><br /></li>
                        <li>Bei dem Abruf unserer Website, wo Google Maps integriert ist, wird eine Verbindung zu den Servern von Google in den USA aufgebaut. Hierbei können Ihre IP und Standort an Google übertragen werden. Zudem erhält Google die Information, dass Sie die entsprechende Seite aufgerufen haben. Dies erfolgt auch ohne Nutzerkonto bei Google. Sollten Sie in Ihren Google-Account eingeloggt sein, kann Google die obigen Daten Ihrem Account zuordnen. Wenn Sie dies nicht wünschen, müssen Sie sich bei Ihrem Google-Account ausloggen. Google erstellt aus solchen Daten Nutzerprofile und nutzt diese Daten zum Zwecke der Werbung, Marktforschung oder Optimierung seiner Websites.<br /><br /></li>
                        <li>Rechtsgrundlage hierfür ist unser in den obigen Zwecken auch liegendes berechtigtes Interesse an der Datenverarbeitung nach Art. 6 Abs. 1 S.1 lit. f)  DS-GVO.<br /><br /></li>
                        <li>Sie haben gegenüber Google ein Widerspruchsrecht gegen die Bildung von Nutzerprofilen. Bitte richten Sie sich deswegen direkt an Google über die unten genannte Datenschutzerklärung. Ein Opt-Out-Widerspruch hinsichtlich der Werbe-Cookies können Sie hier in Ihrem Google-Account vornehmen:<br /><a href="https://adssettings.google.com/authenticated" rel="nofollow" target="_blank">https://adssettings.google.com/authenticated</a>.<br /><br /></li>
                        <li>In den Nutzungsbedingungen von Google Maps unter <a href="https://www.google.com/intl/de_de/help/terms_maps.html" rel="nofollow" target="_blank">https://www.google.com/intl/de_de/help/terms_maps.html</a> und in der Datenschutzerklärung für Werbung von Google unter <a href="https://policies.google.com/technologies/ads" rel="nofollow" target="_blank">https://policies.google.com/technologies/ads</a> finden Sie weitere Informationen zur Verwendung von Google Cookies und deren Werbetechnologien, Speicherdauer, Anonymisierung, Standortdaten, Funktionsweise und Ihre Rechte. Allgemeine Datenschutzerklärung von Google: <a href="https://policies.google.com/privacy" rel="nofollow" target="_blank">https://policies.google.com/privacy</a>.<br /><br /></li>
                        <li>Google ist nach dem EU-US Privacy Shield zertifiziert (<a href="https://www.privacyshield.gov/EU-US-Framework" rel="nofollow" target="_blank">https://www.privacyshield.gov/EU-US-Framework</a>) und daher verpflichtet europäisches Datenschutzrecht einzuhalten.<br /><br /></li>
                    </ol><br />
                    <strong>Rechte der betroffenen Person</strong>

                    <ol style="margin:10px 0px; padding:15px;">
                        <li>
                            <strong>
                                Widerspruch oder Widerruf gegen die Verarbeitung Ihrer Daten<br /><br />
                                Soweit die Verarbeitung auf Ihrer Einwilligung gemäß Art. 6 Abs. 1 S. 1 lit. a), Art. 7 DS-GVO beruht, haben Sie das Recht, die Einwilligung jederzeit zu widerrufen. Die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung wird dadurch nicht berührt.<br /><br />
                                Soweit wir die Verarbeitung Ihrer personenbezogenen Daten auf die Interessenabwägung gemäß Art. 6 Abs. 1 S. 1 lit. f) DS-GVO stützen, können Sie Widerspruch gegen die Verarbeitung einlegen. Dies ist der Fall, wenn die Verarbeitung insbesondere nicht zur Erfüllung eines Vertrags mit Ihnen erforderlich ist, was von uns jeweils bei der nachfolgenden Beschreibung der Funktionen dargestellt wird. Bei Ausübung eines solchen Widerspruchs bitten wir um Darlegung der Gründe, weshalb wir Ihre personenbezogenen Daten nicht wie von uns durchgeführt verarbeiten sollten. Im Falle Ihres begründeten Widerspruchs prüfen wir die Sachlage und werden entweder die Datenverarbeitung einstellen bzw. anpassen oder Ihnen unsere zwingenden schutzwürdigen Gründe aufzeigen, aufgrund derer wir die Verarbeitung fortführen.<br /><br />
                                Sie können der Verarbeitung Ihrer personenbezogenen Daten für Zwecke der Werbung und Datenanalyse jederzeit widersprechen. Das Widerspruchsrecht können Sie kostenfrei ausüben. Über Ihren Werbewiderspruch können Sie uns unter folgenden Kontaktdaten informieren:<br /><br />OTH Amberg-Weiden<br />Kaiser-Wilhelm-Ring 23<br />92224 Amberg<br />E-Mail-Adresse: s.kunz1@oth-aw.de<br />
                            </strong>
                            <br />
                        </li>
                        <li>
                            <strong>Recht auf Auskunft</strong><br />
                            Sie haben das Recht, von uns eine Bestätigung darüber zu verlangen, ob Sie betreffende personenbezogene Daten verarbeitet werden. Sofern dies der Fall ist, haben Sie ein Recht auf Auskunft über Ihre bei uns gespeicherten persönlichen Daten nach Art. 15 DS-GVO. Dies beinhaltet insbesondere die Auskunft über die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten, die Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante Speicherdauer, die Herkunft ihrer Daten, sofern diese nicht direkt bei Ihnen erhoben wurden.<br /><br />
                        </li>
                        <li>
                            <strong>Recht auf Berichtigung</strong><br />
                            Sie haben ein Recht auf Berichtigung unrichtiger oder auf Vervollständigung richtiger Daten nach Art. 16 DS-GVO.
                            <br /><br />
                        </li>
                        <li>
                            <strong>Recht auf Löschung</strong><br />
                            Sie haben ein Recht auf Löschung Ihrer bei uns gespeicherten Daten nach Art. 17 DS-GVO, es sei denn gesetzliche oder vertraglichen Aufbewahrungsfristen oder andere gesetzliche Pflichten bzw. Rechte zur weiteren Speicherung stehen dieser entgegen.
                            <br /><br />
                        </li>
                        <li>
                            <strong>Recht auf Einschränkung</strong><br />
                            Sie haben das Recht, eine Einschränkung bei der Verarbeitung Ihrer personenbezogenen Daten zu verlangen, wenn eine der Voraussetzungen in Art. 18 Abs. 1 lit. a) bis d) DS-GVO erfüllt ist:<br />
                            • Wenn Sie die Richtigkeit der Sie betreffenden personenbezogenen für eine Dauer bestreiten, die es dem Verantwortlichen ermöglicht, die Richtigkeit der personenbezogenen Daten zu überprüfen;<br /><br />
                            • die Verarbeitung unrechtmäßig ist und Sie die Löschung der personenbezogenen Daten ablehnen und stattdessen die Einschränkung der Nutzung der personenbezogenen Daten verlangen;<br /><br />
                            • der Verantwortliche die personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger benötigt, Sie diese jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen, oder<br /><br />
                            • wenn Sie Widerspruch gegen die Verarbeitung gemäß Art. 21 Abs. 1 DS-GVO eingelegt haben und noch nicht feststeht, ob die berechtigten Gründe des Verantwortlichen gegenüber Ihren Gründen überwiegen.<br /><br />
                        </li>
                        <li>
                            <strong>Recht auf Datenübertragbarkeit</strong><br />
                            Sie haben ein Recht auf Datenübertragbarkeit nach Art. 20 DS-GVO, was bedeutet, dass Sie die bei uns über Sie gespeicherten personenbezogenen Daten in einem strukturierten, gängigen und maschinenlesbaren Format erhalten können oder die Übermittlung an einen anderen Verantwortlichen verlangen können.
                            <br /><br />
                        </li>
                        <li>
                            <strong>Recht auf Beschwerde</strong><br />
                            Sie haben ein Recht auf Beschwerde bei einer Aufsichtsbehörde. In der Regel können Sie sich hierfür an die Aufsichtsbehörde insbesondere in dem Mitgliedstaat ihres Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes wenden.
                            <br /><br />
                        </li>
                    </ol><br />
                    <strong>Datensicherheit</strong>
                    <p>Um alle personenbezogen Daten, die an uns übermittelt werden, zu schützen und um sicherzustellen, dass die Datenschutzvorschriften von uns, aber auch unseren externen Dienstleistern eingehalten werden, haben wir geeignete technische und organisatorische Sicherheitsmaßnahmen getroffen. Deshalb werden unter anderem alle Daten zwischen Ihrem Browser und unserem Server über eine sichere SSL-Verbindung verschlüsselt übertragen.</p>
                    <br />

                    <br />
                    <strong>Stand: 14.01.2019</strong><p>Quelle: <a href="https://www.juraforum.de/impressum-generator/">Muster-Datenschutzerklärung von JuraForum.de</a></p>
                </div>
                <a class="nav-link text-white" id="opener-DS" href="#">Datenschutzerklärung</a>
            </li>
            <li>
                <div id="dialog-2"
                     title="Impressum">
                    <h2>Impressum</h2>
                    <p>
                        Simon Kunz<br />
                        Bonhoefferstraße 1<br />92224 Amberg
                    </p>
                    <p>
                        Telefon: 09621761144<br />
                        E-Mail: <a href="mailto:s.kunz1@oth-aw.de">s.kunz1@oth-aw.de</a><br />
                    </p>
                    <br /><h2>Hinweis gemäß Online-Streitbeilegungs-Verordnung</h2><p>Nach geltendem Recht sind wir verpflichtet, Verbraucher auf die Existenz der Europäischen Online-Streitbeilegungs-Plattform hinzuweisen, die für die Beilegung von Streitigkeiten genutzt werden kann, ohne dass ein Gericht eingeschaltet werden muss. Für die Einrichtung der Plattform ist die Europäische Kommission zuständig. Die Europäische Online-Streitbeilegungs-Plattform ist hier zu finden: <a href="http://ec.europa.eu/odr" target="_blank" rel="nofollow">http://ec.europa.eu/odr</a>. Unsere E-Mail lautet: <a href="mailto:s.kunz1@oth-aw.de">s.kunz1@oth-aw.de</a></p><p>Wir weisen aber darauf hin, dass wir nicht bereit sind, uns am Streitbeilegungsverfahren im Rahmen der Europäischen Online-Streitbeilegungs-Plattform zu beteiligen. Nutzen Sie zur Kontaktaufnahme bitte unsere obige E-Mail und Telefonnummer.</p><br /><br /><h2>Disclaimer – rechtliche Hinweise</h2>
                    § 1 Warnhinweis zu Inhalten<br />
                    Die kostenlosen und frei zugänglichen Inhalte dieser Webseite wurden mit größtmöglicher Sorgfalt erstellt. Der Anbieter dieser Webseite übernimmt jedoch keine Gewähr für die Richtigkeit und Aktualität der bereitgestellten kostenlosen und frei zugänglichen journalistischen Ratgeber und Nachrichten. Namentlich gekennzeichnete Beiträge geben die Meinung des jeweiligen Autors und nicht immer die Meinung des Anbieters wieder. Allein durch den Aufruf der kostenlosen und frei zugänglichen Inhalte kommt keinerlei Vertragsverhältnis zwischen dem Nutzer und dem Anbieter zustande, insoweit fehlt es am Rechtsbindungswillen des Anbieters.<br />
                    <br />
                    § 2 Externe Links<br />
                    Diese Website enthält Verknüpfungen zu Websites Dritter ("externe Links"). Diese Websites unterliegen der Haftung der jeweiligen Betreiber. Der Anbieter hat bei der erstmaligen Verknüpfung der externen Links die fremden Inhalte daraufhin überprüft, ob etwaige Rechtsverstöße bestehen. Zu dem Zeitpunkt waren keine Rechtsverstöße ersichtlich. Der Anbieter hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der verknüpften Seiten. Das Setzen von externen Links bedeutet nicht, dass sich der Anbieter die hinter dem Verweis oder Link liegenden Inhalte zu Eigen macht. Eine ständige Kontrolle der externen Links ist für den Anbieter ohne konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von Rechtsverstößen werden jedoch derartige externe Links unverzüglich gelöscht.<br />
                    <br />
                    § 3 Urheber- und Leistungsschutzrechte<br />
                    Die auf dieser Website veröffentlichten Inhalte unterliegen dem deutschen Urheber- und Leistungsschutzrecht. Jede vom deutschen Urheber- und Leistungsschutzrecht nicht zugelassene Verwertung bedarf der vorherigen schriftlichen Zustimmung des Anbieters oder jeweiligen Rechteinhabers. Dies gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen Medien und Systemen. Inhalte und Rechte Dritter sind dabei als solche gekennzeichnet. Die unerlaubte Vervielfältigung oder Weitergabe einzelner Inhalte oder kompletter Seiten ist nicht gestattet und strafbar. Lediglich die Herstellung von Kopien und Downloads für den persönlichen, privaten und nicht kommerziellen Gebrauch ist erlaubt.<br />
                    <br />
                    Die Darstellung dieser Website in fremden Frames ist nur mit schriftlicher Erlaubnis zulässig.<br />
                    <br />
                    § 4 Besondere Nutzungsbedingungen<br />
                    Soweit besondere Bedingungen für einzelne Nutzungen dieser Website von den vorgenannten Paragraphen abweichen, wird an entsprechender Stelle ausdrücklich darauf hingewiesen. In diesem Falle gelten im jeweiligen Einzelfall die besonderen Nutzungsbedingungen.<p>Quelle: <a href="https://www.juraforum.de/impressum-generator/">Impressum Muster von JuraForum.de</a></p>
                </div>
                <a class="nav-link text-white" id="opener-IMP" href="#">Impressum</a>
            </li>
        </ul>
    </header>
    <div class="container-fluid">
        <div class="row">

            <main role="main" class="col px-4">
                <div class="container">
                    <div class="d-flex justify-content-center align-items-center px-4">
                        @if (!(Model == null))
                        {
                            <h1 class="h1_title">@Model.Title</h1>
                        }
                    </div>
                </div>
            </main>
        </div>

        <div class="row">
            <div class="col-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">

                        @for (int i = 0; i < Model.Posts.Count; i++)
                        {
                            @if (i == 0)
                            {
                                <li data-target="#carouselExampleIndicators" data-slide-to=@i class="active"></li>
                            }
                            else
                            {
                                <li data-target="#carouselExampleIndicators" data-slide-to=@i></li>
                            }
                        }

                    </ol>
                    <div class="carousel-inner">
                        @for (int x = 0; x < Model.Posts.Count; x++)
                        {

                            @if (x == 0)
                            {
                                <div class="carousel-item active">
                                    <img src="~/Images/Ampel.jpg" class="d-block w-100 h-100">
                                    <span class="bg-light">@Model.Posts[x].Title</span>
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <img src="~/Images/Ampel.jpg" class="d-block w-100 h-100">
                                    <span class="bg-light">@Model.Posts[x].Title</span>
                                </div>
                            }

                        }

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="container">
            @for (int y = 0; y < Model.Posts.Count; y++)
            {

                <div class="row">
                    <hr class="featurette-divider" />
                    <div class="featurette col-12">
                        @if ((y % 2) == 0)
                        {
                            <img class="featurette-image pull-right w-50" src="~/Images/natur1.jpg">

                        }
                        else
                        {
                            <img class="featurette-image pull-left" src="~/Images/chrome.png">

                        }
                        @if ((y % 2) == 0)
                        {
                            <h1 class="featurette-heading">@Model.Posts[y].Title</h1>

                            <p class="lead">
                                @Html.Raw(Model.Posts[y].Text)
                                <a class="text-primary" data-toggle="collapse" href="#@Model.Posts[y].Id" role="button" aria-expanded="false" aria-controls="collapseExample">WEITERLESEN... &raquo;</a>
                            </p>
                            <div class="collapse" id="@Model.Posts[y].Id">
                                <div class="card card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h2>Schreibe einen Kommentar</h2>
                                            @using (Html.BeginForm("Save", "Comment", null, FormMethod.Post, null, "comment-form"))
                                            {
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <input type="text" name="name" class="form-control" id="inputName" placeholder="Name" required>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email (optional)">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <textarea class="form-control" name="comment" id="validationTextarea" placeholder="Kommentar" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-row float-right">
                                                    <input class="btn btn-outline-primary" type="submit" value="KOMMENTAR ABSCHICKEN" />
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <hr class="featurette-divider" />
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h2>Kommentare zu diesem Beitrag</h2>
                                            @foreach (var item in Model.Posts[y].Comments)
                                            {
                                                <div class="comment lead">
                                                    <span><b>@item.UserName</b></span><br />
                                                    <span>geschrieben am <span class="text-primary">@item.Date</span></span>
                                                    <div class="card comment-card">
                                                        <div class="card-body">
                                                            <p>@item.Text</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <span>@Model.Posts[y].Date.ToLongDateString() - </span><span class="text-primary">@Model.Posts[y].User.Alias</span> - <a><span data-feather="message-square"></span>@Model.Posts[y].Comments.Count</a>
                            </div>
                        }
                        else
                        {
                            <h1 class="featurette-heading">@Model.Posts[y].Title</h1>

                            <p class="lead">
                                @Html.Raw(Model.Posts[y].Text)
                                <a class="text-primary" data-toggle="collapse" href="#@Model.Posts[y].Id" role="button" aria-expanded="false" aria-controls="collapseExample">WEITERLESEN... &raquo;</a>
                            </p>
                            <div class="collapse" id="@Model.Posts[y].Id">
                                <div class="card card-body">
                                    <div class="row">
                                        <hr class="featurette-divider" />
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h2>Schreibe einen Kommentar</h2>
                                            @using (Html.BeginForm("Save", "Comment", null, FormMethod.Post, null, "comment-form"))
                                            {
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <input type="text" name="name" class="form-control" id="inputName" placeholder="Name" required>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email (optional)">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <textarea class="form-control" name="comment" id="validationTextarea" placeholder="Kommentar" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-row float-right">
                                                    <input class="btn btn-outline-primary" type="submit" value="KOMMENTAR ABSCHICKEN" />
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <hr class="featurette-divider" />
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h2>Kommentare zu diesem Beitrag</h2>
                                            @foreach (var item in Model.Posts[y].Comments)
                                            {
                                                <div class="comment lead">
                                                    <span><b>@item.UserName</b></span><br />
                                                    <span>geschrieben am <span class="text-primary">@item.Date</span></span>
                                                    <div class="card comment-card">
                                                        <div class="card-body">
                                                            <p>@item.Text</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <span>@Model.Posts[y].Date.ToLongDateString() - </span><span class="text-primary">@Model.Posts[y].User.Alias</span> - <a><span data-feather="message-square"></span>@Model.Posts[y].Comments.Count</a>
                            </div>

                        }
                    </div>
                </div>
            }


            <div class="row">
                <hr class="featurette-divider" />

            </div>

            <footer>
                <p class="pull-left">Copyright 2019</p>
                <a class="text-primary pull-right" href="#">Nach oben</a>

            </footer>
        </div>


    </div>




    <script type="text/javascript" language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript" src="~/js_jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js_bootstrap/bootstrap.min.js"></script>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace();
        $(function () {
            $("#dialog-1").dialog({
                autoOpen: false,
                show: "slide",
                width: 600,
                height: 400
            });
            $("#opener-DS").click(function () {
                $("#dialog-1").dialog("open");
            });
        });

        $(function () {
            $("#dialog-2").dialog({
                autoOpen: false,
                show: "slide",
                width: 600,
                height: 400
            });
            $("#opener-IMP").click(function () {
                $("#dialog-2").dialog("open");
            });
        });
    </script>
</body>

</html>

